

{{#each movies as |movie|}}



<table class="table table-bordered table-responsive table-hover">
<!-- <tbody> -->
    <tr>
      <td class="col-xs-1">{{movie.id}}</td>
      <td "col-xs-9">{{movie.name}}</td>
      <td class="col-xs-1">{{movie.year}}</td>
      <td class="col-xs-1">{{movie.rating}} Stars</td>
    </tr>
<!-- </tbody> -->
</table>




{{/each}}
<!-- <div>
