<table class="table table-bordered table-responsive table-hover">
  <thead>
  <tr>
    <th class="col-xs-1">Id</th>
    <th class="col-xs-9">Name</th>
    <th class="col-xs-1">Year</th>
    <th class="col-xs-1">Rating</th>
  </tr>
</thead>
</table>

{{#each movies as |movie|}}



<table class="table table-bordered table-responsive table-hover">
<!-- <tbody> -->
    <tr>
      <td class="col-xs-1">{{movie.id}}</td>
      <td "col-xs-9">{{movie.name}}</td>
      <td class="col-xs-1">{{movie.year}}</td>
      <td class="col-xs-1">{{movie.rating}} Stars</td>
    </tr>
<!-- </tbody> -->
</table>




{{/each}}
<!-- <div>
  <table class="table table-bordered table-responsive table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Rating</th>
    <th>Add to your list?</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>The Departed</td>
    <td>2006</td>
    <td>4.8</td>
    <td><button type="button" class="btn btn-primary btn-sm">Yes</button></td>
  </tr>
  <tr>
    <td>Silence of the Lambs</td>
    <td>1991</td>
    <td>5.0</td>
    <td><button type="button" class="btn btn-primary btn-sm">Yes</button></td>
  </tr>
  <tr>
    <td>Fight Club</td>
    <td>1999</td>
    <td>4.9</td>
    <td><button type="button" class="btn btn-primary btn-sm">Yes</button></td>
  </tr>
  <tr>
    <td>Back to the Future</td>
    <td>1985</td>
    <td>4.2</td>
    <td><button type="button" class="btn btn-primary btn-sm">Yes</button></td>
  </tr>
</tbody>
</table>
</div> -->
