@import 'colors'; // moves variables over from colors.scss file

body {
  background-color: $light-blue;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%239C92AC' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.back-img {
  background: url('https://user-images.githubusercontent.com/28842407/39658089-3fbcc7fc-4fdd-11e8-9cdb-a57c4ba4cd5c.jpg') no-repeat center;
  background-size: cover;
  display: none;
  min-height: 100vh;

}

.login-screen {
  background: url('../img/theater2.jpg') no-repeat center;
  background-size: cover;
  min-height: 90vh;
}

.container-fluid {
  padding-top: 15px;
}

.footer {
  bottom: 5px;
  height: 30px;
  // line-height: 60px;
  // position: absolute;

}

// .table-bordered {
//     border: 1px solid #23477e;
// }

.table {
  margin-bottom: 0;
}

table {
  background-color: $light-blue !important;
  // border: 1px solid #23477e;
  // border-color: #23477e;
  // border-width: 1px;
  font-size: 1.1em;
  font-weight: 500;
}

.display {
  display: none;
  height: 50vh;
}

.display-list {
  display: none;
  max-height: 40vh;
  overflow-y: scroll;
}

.api-buttons {
  display: none;

}

.show-buttons {
  display: none;
}

h1 {
  font-size: 55px;
  margin-top: 0;
  text-align: center;
}

.instructions {
  color: $dark-red;
  font-size: 25px;
  margin: 2px auto 25px;
  text-align: center;
}

.added {
  display: none;
  font-size: 25px;
  text-align: center;
}

.updated {
  display: none;
  font-size: 25px;
  text-align: center;
}

.deleted {
  display: none;
  font-size: 25px;
  text-align: center;
}

.logout-buttons {
  display: none;
}

.signature {
  color: $dark-red;
  text-align: center;
}

.sig-link {
  color: $dark-red;
  text-decoration: underline;
}

.title-top {
  color: $dark-red;
  display: none;
}

button {
  background-color: $darkslateblue;
  color: $white;
  margin: 10px 20px;
  width: auto;
}

.btn:hover {
  color: $light-blue !important;
}

.btn:focus {
  color: $light-blue !important;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 450px) {
  img {
    width: 80%;
    }

  .instructions {
    font-size: 1em;
  }
}
