@import 'colors'; // moves variables over from colors.scss file

body {
  background-color: $light-blue;
}

.login-screen {
  background: url('../img/theater.jpg') no-repeat;
  height: 100%;
}

.api-buttons {
  display: none;
}

h1 {
  text-align: center;
}

p {
  font-size: 55px;
  // text-align: center;
}


.instructions {
  color: $dark-red;
  font-size: 25px;
  margin: 2px auto 25px;
  text-align: center;
  text-shadow: 2px 2px $black;
}

.logout-buttons {
  display: none;
}

.title-hide {
  color: $dark-red;
  font-size: 55px;
  text-shadow: 3px 3px $black;
}

button {
  margin: 10px 30px;
}
